# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
UserSettings/
MemoryCaptures/
ProjectSettings/McpUnitySettings.json
湲고쉷/
AGENTS.md

# VS/IDE
.vscode/
.vs/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.unityproj
*.userprefs

# OS
.DS_Store
Thumbs.db
