# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# VS/IDE
.vscode/
.vs/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.unityproj
*.userprefs

# OS
.DS_Store
Thumbs.db
